@use 'app/styles/mixins' as *;

.filters {
  display: grid;
  grid-template-columns: 1fr 200px 200px;
  gap: var(--space-3);
  width: 100%;

  @include mq(lsm) {
    grid-template-columns: 1fr 1fr;
  }

  @include mq(sm) {
    gap: var(--space-2);
  }
}

.search {
  @include mq(lsm) {
    grid-column: 1 / -1;
  }
}
