@use 'app/styles/mixins' as *;

.layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100dvh;
  background: var(--background);

  &.noFilters {
    grid-template-rows: auto 1fr;
  }
}

.filters {
  padding: var(--space-3) var(--space-7);
  background: var(--muted);
  border-bottom: 3px solid var(--border);

  @include mq(sm) {
    padding: var(--space-3) var(--space-4);
  }
}
